@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Battle Bards</h1>
    <p class="lead">Why be a hero when you can be a legend?</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a hero, level up, become legend</h2>
        <p>
            Choose from 3 different classes. Battle monsters. Advance the plot. You already know how to play.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Free to play</h2>
        <p>That's right. No BS.</p>
    </div>
    <div class="col-md-4">
        <h2>This needs more text</h2>
        <p>It certainly does. Get further along with the project and think of something before launch.</p>
    </div>
</div>